body{
    background-color: #333;
    color: #ddd;
}
details{
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 9px;
    color: #aaa;
}

summary{
    background-color: transparent;
    color: #eee;
}
ul{
    font-weight: 100;
}