body{
    margin: 0;
    background: #222;
    color: #eee;
}

form{
    background-color: #222;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 60px #0009;
    margin-top: 180px;
    border-radius: 12px;
}

input,textarea,select{
    width: 100%;
    box-sizing: border-box;
    padding:6px 12px;
    border: none;
    border-left: 4px solid #999;
    box-shadow: 0 0 45px #000;
    background-color: transparent;
    color: #eee;
    margin-top: 10px;
    font-size: 17px;
    margin: 10px 0;
}

fieldset{
    margin: 20px 0;
    border: 2px solid #6666;
    border-radius: 5px;
}

legend{
    padding: 0 5px;
}